/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
		/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; 
		see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
		box-sizing: inherit;
	}

	body {
		margin: 0;
		height: 100%;
		overflow-x: hidden;
	}

	div,
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	main,
	menu,
	nav,
	section,
	summary {
		display: block;

	}

	audio,
	canvas,
	progress,
	video {
		display: inline-block;
		vertical-align: baseline;
	}

	audio:not([controls]) {
		display: none;
		height: 0;
	}

	[hidden],
	template {
		display: none;
	}

	a {
		background-color: transparent;
	}

	a:active,
	a:hover {
		outline: 0;
	}

	abbr[title] {
		border-bottom: 1px dotted;
	}

	b,
	strong {
		font-weight: bold;
	}

	dfn {
		font-style: italic;
	}

	mark {
		background: #ff0;
		color: #000;
	}

	small, .small {
		font-size: 80%;
		line-height: 1.3;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}

	img {
		border: 0;
	}

	svg:not(:root) {
		overflow: hidden;
	}

	figure {
		margin: 1em 40px;
	}

	pre {
		overflow: auto;
	}

	code,
	kbd,
	pre,
	samp {
		font-family: monospace, monospace;
		font-size: 1em;
	}

	button,
	input,
	optgroup,
	select,
	textarea {
		color: inherit;
		font: inherit;
		margin: 0;
	}

	button {
		overflow: visible;
	}

	button,
	select {
		text-transform: none;
	}

	button,
	html input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
	}

	button[disabled],
	html input[disabled] {
		cursor: default;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input {
		line-height: normal;
	}

	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	fieldset {
		border: 1px solid #c0c0c0;
		margin: 0 2px;
		padding: 0.35em 0.625em 0.75em;
	}

	legend {
		border: 0;
		padding: 0;
	}

	textarea {
		overflow: auto;
	}

	optgroup {
		font-weight: bold;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	td,
	th {
		padding: 0;
	}

	dl, dt, dd{
		margin: 0;
	}

	.no-access {
	   display: none;
	}

	img {
		height: auto;
		/* Make sure images are scaled correctly. */
		max-width: 100%;
		/* Adhere to container width. */
	}

	table {
		margin: 0 0 1.5em;
		width: 100%;
	}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

	body {
		color: #2C2C2C;
		font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
		font-size: 16px;
		font-size: 1rem;
		letter-spacing: 0.035em;
		font-weight: 300;
		line-height: 1.75;
	}

	.text-center{
		text-align: center;
	}

	h1, h2, h3, h4, h5 {
		margin-bottom: 30px;
	}

/*--------------------------------------------------------------
# Insta Feed Customizations
--------------------------------------------------------------*/

	body{

		.juicer-feed{ 
			h1.referral{
				display: none;
			}
			
			.slick-track{
				height: 70vh !important;
			}

			&.slider{
				.j-text{
					background: rgba(0, 0, 0, 0.7) !important;

					.j-message{
						width: 50%;
					}
				}
			}
		}

		.j-image{
			img{
				height: 70vh !important;
			}
		}
	}
				